<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="study.group.board.model.dao.BoardDao">
  
  	<!-- 게시글 등록 -->
  	<insert id="insertBoard">
  		insert into board_tbl values(board_seq.nextval, #{boardTitle}, #{boardContent}, #{userNo}, default)
  	</insert>
  	
  	<!-- 게시글 목록 출력 -->
  	<select id="boardList" resultType="board">
  		select * from board_tbl order by board_regdate desc
  	</select>
</mapper>
