<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="study.group.user.model.dao.UserDao">
	
	<!-- 회원가입 -->
	<insert id="insertUser">
		insert into user_tbl values(user_seq.nextval, #{userId}, #{userPw}, #{userName})
	</insert>
</mapper>
